<section>
  <div class="container-main">
    <div class="container-inputs">
      <button class="btn btn-success text-600" (click)="addTitle()">
        Add More
      </button>
      <!-- INPUTS -->
      <div
        *ngFor="let node of inputNodes; let titleIndex = index"
        class="input-group"
      >
        <div class="input-group-title">
          <input
            type="text"
            placeholder="Title"
            name="title-input-{{ titleIndex }}"
            id="title-input-{{ titleIndex }}"
            [value]="inputNodes[titleIndex].title"
            (input)="handleTitleChange(titleIndex, $event.target)"
          />
          <button class="btn btn-base text-600" (click)="addChild(titleIndex)">
            Add Child
          </button>
          <button
            class="btn btn-danger text-600"
            (click)="handleTitleDelete(titleIndex)"
          >
            Delete
          </button>
        </div>
        <div
          *ngFor="let child of node.children; let subtitleIndex = index"
          class="input-group-child"
        >
          <input
            type="text"
            name="child-title-input-{{ titleIndex }}-{{ subtitleIndex }}"
            id="child-title-input-{{ titleIndex }}-{{ subtitleIndex }}"
            placeholder="Subtitle"
            [value]="inputNodes[titleIndex].children[subtitleIndex].subtitle"
            (input)="
              handleSubtitleChange(
                titleIndex,
                subtitleIndex,
                'subtitle',
                $event.target
              )
            "
          />
          <input
            type="text"
            name="child-value-input-{{ titleIndex }}-{{ subtitleIndex }}"
            placeholder="Value"
            id="child-value-input-{{ titleIndex }}-{{ subtitleIndex }}"
            [value]="inputNodes[titleIndex].children[subtitleIndex].value"
            (input)="
              handleSubtitleChange(
                titleIndex,
                subtitleIndex,
                'value',
                $event.target
              )
            "
          />
          <button
            class="btn btn-danger text-600"
            (click)="handleSubtitleDelete(titleIndex, subtitleIndex)"
          >
            Delete
          </button>
        </div>
      </div>
      <!-- INPUTS -->
    </div>
    <div class="container-display">
      <h1>SPECIFICATION</h1>
      <!-- TABLES -->
      <ng-container
        *ngFor="let specification of inputNodes; let titleId = index"
      >
        <table *ngIf="specification.title || filterChildren(titleId).length">
          <tr *ngIf="specification.title.length">
            <th colspan="2">{{ specification.title }}</th>
          </tr>

          <ng-template
            *ngFor="let child of specification.children"
            [ngIf]="child.subtitle.length || child.value.length"
          >
            <tr>
              <td>{{ child.subtitle }}</td>
              <td>{{ child.value }}</td>
            </tr>
          </ng-template>
        </table>
      </ng-container>
      <!-- TABLES -->
    </div>
  </div>
</section>
