<section>
  <div class="container-main">
    <div class="container-inputs">
      <button class="btn btn-success text-600" (click)="addTitle()">
        Add More
      </button>
      <!-- INPUTS -->
      <div
        *ngFor="let node of inputNodes; let titleIndex = index"
        class="input-group"
      >
        <div class="input-group-title">
          <input
            type="text"
            placeholder="Title"
            name="title-input-{{ titleIndex }}"
            id="title-input-{{ titleIndex }}"
            [value]="inputNodes[titleIndex].title"
            (input)="handleTitleChange(titleIndex, $event.target)"
          />
          <button class="btn btn-base text-600" (click)="addChild(titleIndex)">
            Add Child
          </button>
          <button
            class="btn btn-success text-600"
            (click)="handleSubmit(titleIndex)"
          >
            Submit
          </button>
        </div>
        <div
          *ngFor="let child of node.children; let subtitleIndex = index"
          class="input-group-child"
        >
          <input
            type="text"
            name="child-title-input-{{ titleIndex }}-{{ subtitleIndex }}"
            id="child-title-input-{{ titleIndex }}-{{ subtitleIndex }}"
            placeholder="Subtitle"
            [value]="inputNodes[titleIndex].children[subtitleIndex].subtitle"
            (input)="
              handleSubtitleChange(
                titleIndex,
                subtitleIndex,
                'subtitle',
                $event.target
              )
            "
          />
          <input
            type="text"
            name="child-value-input-{{ titleIndex }}-{{ subtitleIndex }}"
            placeholder="Value"
            id="child-value-input-{{ titleIndex }}-{{ subtitleIndex }}"
            [value]="inputNodes[titleIndex].children[subtitleIndex].value"
            (input)="
              handleSubtitleChange(
                titleIndex,
                subtitleIndex,
                'value',
                $event.target
              )
            "
          />
          <button
            class="btn btn-danger text-600"
            (click)="handleSubtitleDelete(titleIndex, subtitleIndex)"
          >
            Delete
          </button>
        </div>
      </div>
      <!-- INPUTS -->
    </div>
    <div class="container-display">
      <h1>SPECIFICATION</h1>
      <!-- TABLES -->
      <ng-template
        *ngFor="let specification of specifications"
        [ngIf]="specification"
      >
        <table>
          <tr>
            <th colspan="2">{{ specification.title }}</th>
          </tr>

          <tr *ngFor="let child of specification.children">
            <td>{{ child.subtitle }}</td>
            <td>{{ child.value }}</td>
          </tr>
        </table>
      </ng-template>
      <!-- TABLES -->
    </div>
  </div>
</section>
